<!DOCTYPE html>
<html lang="es"> 
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CRUD Server</title>
	</head>
	<body>
		<h1>Node js CRUD Server</h1>
		<h2>API Endpoints</h2>
		<h3>Mongo Endpoints</h3>
		<ul>
			<li><a href="/api/mongo/">(GET /api/mongo/) Listado de elementos</a></li>
			<li><a href="/api/mongo/:id">(GET /api/mongo/:id) Ver elemento</a></li>
			<li><a href="/api/mongo/create">(POST /api/mongo/create) Añadir elemento</a></li>
			<li><a href="/api/mongo/update/:id">(PUT /api/mongo/update/:id) Actualizar elemento</a></li>
			<li><a href="/api/mongo/delete/:id">(POST /api/mongo/delete/:id) Eliminar elemento</a></li>
		</ul>
		<h3>Mysql Endpoints</h3>
		<ul>
			<li><a href="/api/mysql/">(GET /api/mysql/) Listado de elementos</a></li>
			<li><a href="/api/mysql/:id">(GET /api/mysql/:id) Ver elemento</a></li>
			<li><a href="/api/mysql/create">(POST /api/mysql/create) Añadir elemento</a></li>
			<li><a href="/api/mysql/update/:id">(PUT /api/mysql/update/:id) Actualizar elemento</a></li>
			<li><a href="/api/mysql/delete/:id">(POST /api/mysql/delete/:id) Eliminar elemento</a></li>
		</ul>
	</body>
</html>